@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Hakkında Section ======= -->
<section id="VeriTabani" class="VeriTabani">
    <div class="container p-3 my-3 border" style="background-color:#f5f5f5">
        <h2 class="text-primary">MiadaT Hakkında</h2>
        <p>
            Türkiye’de meydana gelen büyük endüstriyel kazaların ve ramak kala olayların veri tabanı alt
            yapısında yer alan çeşitli verilerinin depolanmasını, depolanan veriler kullanılarak istatistiki
            kaza analizi yapılmasını sağlamak için oluşturulmuştur.
        </p>
        <br />
        <p>
            Büyük Endüstriyel Kazaların Önlenmesi ve Etkilerinin Azaltılması Hakkında yönetmelik kapsamına giren kuruluşların işletmecileri, yönetmelik gereği
            büyük kazaları önlemek ve büyük bir kazanın meydana gelmesi durumunda, bunların
            etkilerini insana ve çevreye en az zarar verecek şekilde sınırlamak için güvenlik yönetim
            sistemi ile ilgili asgari olarak yönetmelik ekinde belirtilen ve ilgili mevzuatta belirtilen
            yükümlülüklere ilişkin gerekli tüm tedbirleri almakla yükümlüdür. Yönetmelik kapsamına
            giren tüm kuruluşlar “güvenlik yönetim sistemi” oluşturmak zorundadır. Oluşturulacak ve
            uygulanacak güvenlik yönetim sisteminde:
        </p>
        <ul>
            <li>Organizasyon ve personel,</li>
            <li>Büyük kaza tehlikelerinin belirlenmesi ve değerlendirilmesi,</li>
            <li>İşletim kontrolü,</li>
            <li>Değişimin yönetimi,</li>
            <li>Acil durumlar için planlama,</li>
            <li>Performansın izlenmesi,</li>
            <li>Denetleme ve inceleme unsurları,</li>
        </ul>
        <br />
        <p>
            Ele alınmak zorundadır. Yönetim sisteminde yer alan ‘Organizasyon ve personel’ ve
            ‘Performansın izlenmesi’ unsurlarında; tesiste/kuruluşta veya diğer kuruluşlarda meydana
            gelen kazaların takibi, olay/kaza araştırması ve kaza analizi yapılması ile ilgili hususlar yer
            almaktadır.
        </p>
        <br />
        <p>
            Deneyimlerden öğrenmek, iç ve dış bilgi kaynaklarını izlemeyi ve bunlara göre hareket
            etmeyi içerir. Deneyimlerden öğrenmenin en ucuz yolları,<br />
            (1) Mevcut kaynakları en etkili şekilde kullanmak için en iyi uygulamaları uygulamak,<br />
            (2) Dahili olaylar ve ramak kalalardan kaynaklanan eksiklikleri düzeltmek ve<br />
            (3) Diğer kuruluşlardan alınan dersleri uygulamaktır.<br />
        </p>
    </div>
</section><!-- End Hakkında Section -->
<section id="Amaci" class="Amacı section-bg " style="background-color:#f5f5f5">
    <div class="container p-3 my-3 border" style="background-color:white">
        <h2 class="text-primary">MiadaT'ın Amacı</h2>
        <p>Bu veri tabanın amacı aşağıda sıralanmıştır:</p>
        <ul>
            <li>Büyük endüstriyel kazalara ilişkin ulusal bir kaza veri tabanı oluşturma</li>
            <li>Aynı veya benzer kazaların yaşanmamasını sağlama</li>
            <li>
                Olası kazaların meydana gelmesini önlediğinden, çalışanların veya toplumun ölüm
                ve/veya yaralanma veya çevreye zarar verme veya maddi hasar oluşma riskini azaltma
            </li>
            <li>Aynı olaylar için hesaba katılmayan tehlikeleri öğrenme</li>
            <li>
                Büyük endüstriyel kaza çeşitlerinin tamamının nedenlerini kapsayacak şekilde kök
                nedenlerin standart bir taksonomi yapılarak sistematik bir şekilde sınıflandırılması
            </li>
            <li>
                Kök nedenlere ilişkin düzeltici/önleyici eylemler sunma ve mevcut olması durumunda
                bu eylemlere ilşikin mevzuat dayanağını belirtme
            </li>
            <li>
                Etkili düzeltici eylemleri seçip uygulayarak güvenilirliğin ve güvenliğin
                iyileştirilmesini sağlama
            </li>
            <li>
                Tehlikelerin daha etkin kontrolü, süreç güvenilirliğinin artması, gelirlerin artması,
                üretim maliyetlerinin düşmesi, bakım maliyetlerinin düşmesi ve sigorta primlerinin
                düşmesi
            </li>
            <li>Herkesin erişimine açık bir veritabanı yaratma</li>
            <li>Paydaşların konu ile ilgili farkındalığını arttırma</li>
            <li>
                İstatistiki yöntemler sayesinde derinlemesine analiz yapılarak bilinmeyen yararlı
                bilgiler oluşturma
            </li>
            <li>
                Gelecekte yapılabilecek çalışmalarda, veri madenciliği yöntemleri sayesinde
                derinlemesine analiz yapılarak bilinmeyen yararlı bilgiler oluşturma
            </li>
            <li>
                Uzun yıllarca birikecek verilerden ulusal olasılık/frekans değerleri oluşturma
            </li>

        </ul>

    </div>
</section><!-- End Skills Section -->
<!-- ======= Facts Section ======= -->
<section id="Mevzuat" class="Mevzuat" style="background-color:#f5f5f5">
    <div class="container p-3 my-3 border" style="background-color:white">
        <h2 class="text-primary">Türkiye’de Büyük Endüstriyel Kaza Mevzuatının Gelişimi</h2>
        <p>
            AB uyum süreci ile birlikte, Seveso II direktifi ile ilgili ülkemizde yapılan ilk uyumlaştırma
            çalışması, Çalışma ve Sosyal Güvenlik Bakanlığı (ÇSGB) ve Çevre, Şehircilik ve İklim
            Değişikliği Bakanlığı (ÇŞİDB) ile müştereken hazırlanan, 18/08/2010 tarihli ve 27676 sayılı
            Resmî Gazete’de yayımlanan “Büyük Endüstriyel Kazaların Kontrolü Hakkında Yönetmelik”
            ile yapılmıştır. Bu yönetmelikte bildirim yükümlülüğü yayımı tarihinde yürürlüğe girerken,
            bu madde dışındaki maddeler yönetmeliğin yayımı tarihinden iki yıl sonra yürürlüğe girmiştir.
            Bu yönetmelikte, 31/07/2012 tarihli ve 28370 sayılı Resmî Gazete’de yayımlanan yönetmelik
            ile yürürlük tarihleri ile ilgili güncellemeler yapılmıştır.
        </p>
        <br />
        <p>
            Daha sonra, 9/12/1996 tarihli ve 96/82/EC sayılı Konsey Direktifine (Seveso II Direktifi)
            paralel olarak hazırlanan 30/12/2013 tarihli ve 28867 mükerrer sayılı Resmî Gazete’de
            yayımlanan Büyük Endüstriyel Kazaların Önlenmesi ve Etkilerinin Azaltılması Hakkında
            Yönetmelik yürürlüğe girmiş ve 2010 yılında yayımlanan yönetmelik yürürlükten
            kaldırılmıştır.
        </p>
        <br />
        <p>
            Ülkemizde 4/7/2012 tarihli ve 2012/18/AB sayılı Konsey Direktifi dikkate alınarak Avrupa
            Birliği mevzuatına uyum çerçevesinde Seveso III Direktifi son olarak 02/03/2019 tarihli ve
            30702 sayılı Resmî Gazete’de yayımlanan “Büyük Endüstriyel Kazaların Önlenmesi ve
            Etkilerinin Azaltılması Hakkında Yönetmelik” ile yürürlüğe girmiştir. Bu yönetmeliğin
            yürürlüğe girmesi ile 30/12/2013 tarihli ve 28867 mükerrer sayılı Resmî Gazete’de
            yayımlanan Büyük Endüstriyel Kazaların Önlenmesi ve Etkilerinin Azaltılması Hakkında
            Yönetmelik yürürlükten kaldırılmıştır. Amacı, tehlikeli maddeler bulunduran kuruluşlarda
            büyük endüstriyel kazaların önlenmesi ve muhtemel kazaların insanlara ve çevreye olan
            zararlarının en aza indirilmesi amacıyla, yüksek seviyede, etkili ve sürekli korumayı sağlamak
            için alınması gerekli önlemler ile ilgili usul ve esasları belirlemek olan yönetmelik, 20/6/2012
            tarihli ve 6331 sayılı İş Sağlığı ve Güvenliği Kanunu’na ve 9/8/1983 tarihli ve 2872 sayılı
            Çevre Kanunu’na dayanılarak hazırlanmıştır.
        </p>
        <br />
        <br />

        <h4 class="text-primary" style='color:black !important;'><b>Büyük endüstriyel kazalarla ilgili mevzuat tablosu aşağıda yer almaktadır.</b></h4>
        <br />
        <table class="table-bordered">
            <thead>
                <tr>
                    <th style="font-size:15px; text-align:center;">Mevzuat Adı</th>
                    <th style="font-size:15px; text-align:center;">Çalışma ve Sosyal Güvenlik Bakanlığı</th>
                    <th style="font-size:15px; text-align:center;">Çevre, Şehircilik ve İklim Değişikliği Bakanlığı</th>
                    <th style="font-size:15px; text-align:center;">İçişleri Bakanlığı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=2872&MevzuatTur=1&MevzuatTertip=5" style="font-size:15px;" target="_blank">2872 sayılı Çevre Kanunu</a></td>
                    <td class="text-center"></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=6331&MevzuatTur=1&MevzuatTertip=5" style="font-size:15px;" target="_blank">6331 sayılı İş Sağlığı ve Güvenliği Kanunu </a> </td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=5902&MevzuatTur=1&MevzuatTertip=5" style="font-size:15px;" target="_blank">Afet ve Acil Durum Yönetimi Başkanlığının Teşkilat ve Görevleri Hakkında Kanun</a> </td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">X</td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=38696&MevzuatTur=7&MevzuatTertip=5" style="font-size:15px;" target="_blank"> Çevre Denetim Yönetmeliği</a></td>
                    <td class="text-center"></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=5211&MevzuatTur=21&MevzuatTertip=5" style="font-size:15px;" target="_blank">Çevre Düzeni Planlarına Dair Yönetmelik</a> </td>
                    <td class="text-center"></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=5211&MevzuatTur=21&MevzuatTertip=5" style="font-size:15px;" target="_blank"> Afet ve Acil Durum Müdahale Hizmetleri Yönetmeliği</a></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">X</td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=19108&MevzuatTur=7&MevzuatTertip=5" style="font-size:15px;" target="_blank">Maddelerin ve Karışımların Sınıflandırılması,Etiketlenmesi ve Ambalajlanması Hakkında Yönetmelik</a></td>
                    <td class="text-center"></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=31298&MevzuatTur=7&MevzuatTertip=5" style="font-size:15px;" target="_blank">Büyük Endüstriyel Kazaların Önlenmesi ve EtkilerininAzaltılması Hakkında Yönetmelik</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center">X</td>
                    <td class="text-center">X</td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=31436&MevzuatTur=9&MevzuatTertip=5" style="font-size:15px;" target="_blank"> Büyük Endüstriyel Kazalarla ilgili Hazırlanacak Güvenlik Raporu Tebliği</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=31437&MevzuatTur=9&MevzuatTertip=5" style="font-size:15px;" target="_blank">Büyük Endüstriyel Kazalarla ilgili Hazırlanacak BüyükKaza Önleme Politika Belgesi Tebliği</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=34657&MevzuatTur=9&MevzuatTertip=5" style="font-size:15px;" target="_blank">Büyük Endüstriyel Kazalarla ilgili Hazırlanacak Büyük Kaza Senaryo Dokümanı Tebliği</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=34773&MevzuatTur=9&MevzuatTertip=5" style="font-size:15px;" target="_blank">Büyük Endüstriyel Kazalarda Uygulanacak Dâhili Acil Durum Planları Hakkında Tebliğ</a></td>
                    <td class="text-center"></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=16925&MevzuatTur=7&MevzuatTertip=5" style="font-size:15px;" target="_blank">İş Sağlığı ve Güvenliği Risk Değerlendirmesi Yönetmeliği</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=18335&MevzuatTur=7&MevzuatTertip=5" style="font-size:15px;" target="_blank">Çalışanların Patlayıcı Ortamların Tehlikelerinden Korunması Hakkında Yönetmelik</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=18493&MevzuatTur=7&MevzuatTertip=5" style="font-size:15px;" target="_blank">İşyerlerinde Acil Durumlar Hakkında Yönetmelik</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=200712937&MevzuatTur=21&MevzuatTertip=5" style="font-size:15px;" target="_blank">Binaların Yangından Korunması Hakkında Yönetmelik</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center">X</td>
                    <td class="text-center">X</td>
                </tr>
                <tr>
                    <td style="padding:10px"><a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=10715&MevzuatTur=7&MevzuatTertip=5" style="font-size:15px;" target="_blank">Deniz Çevresinin Petrol ve Diğer Zararlı Maddelerle Kirlenmesinde Acil Durumlarda Müdahale ve Zararların Tazmini Esaslarına Dair Kanunun Uygulama Yönetmeliği</a></td>
                    <td class="text-center">X</td>
                    <td class="text-center">X</td>
                    <td class="text-center">X</td>
                </tr>
            </tbody>
        </table>

    </div>
</section><!-- End Facts Section -->
<!-- ======= Services Section ======= -->
<section id="Paydaslar" class="Paydaslar" style="background-color: white">
    <div class="container p-3 my-3 border" style="background-color: #f5f5f5">
        <h2 class="text-primary">Paydaşlar</h2>
        <p>
            Sisteme veri girişi yapılması tüm kuruluşlar açısından önemlidir. Burada amaç kuruluşları
            suçlamak, deşifre etmek değil, yaşanmış kazalardan ve ramak kala olaylardan sistem ile
            alakalı geri bildirimler almak ve benzer/alakasız kazalar yaşanmasını önlemeye çalışmaktır.
        </p>
        <br />
        <p>
            Sisteme veri girişi yapılırken kullanıcılar bir kuruluşa ait ticari sır niteliğindeki verilere
            ulaşamayacaktır. İlgili mevzuatta belirtilen bu tür veriler, sadece sistem arka planında işleyiş
            için gerekli olduğu kadar ve düzeyde tutulacaktır.
        </p>
        <br />
        <p>
            Sistemde yer alacak veri girişlerinin yönetmelik kapsamındaki alt ve üst seviyeli kuruluşlar
            tarafından yapılması ve ileride ilgili Bakanlıkların kaza veri girişi yapılan sistemlerine entegre
            olması daha faydalı olacaktır.
        </p>

    </div>
</section>


<style>

    table {
        table-layout: fixed;
        width: auto;
    }
</style>

