<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MiadaT - Anasayfa</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="AHMET TOKLUCU" name="author" />
    <!-- Favicons -->
    <link rel="shortcut icon" href="~//favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="~/css/devextreme/theme.base.css" rel="stylesheet" />
    <link href="~/css/devextreme/theme.additional.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/Site.css" />

  

    <script src="~/js/devextreme/jquery.js"></script>

   
    <script src="~/js/devextreme/dx.all.js"></script>

   

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
</head>

<body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">
            <div class="profile">
                <img src="~/logo.jpeg" href="~/Home/index" class="rounded-circle" style="width:160px;height:160px" alt="">
                <h1 class="text-light"><a href="~//Home/index">MiadaT</a></h1>
                <div class="social-links  text-center">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
            <nav id="navbar" class="nav-menu navbar p-0">
                <ul>
                    <li><a href="~/Admin/Login" class="nav-link scrollto"><i class="bi bi-box-arrow-in-right"></i> <span>Oturum Aç</span></a></li>
                    <li><a href="~/Home/index/#VeriTabani" class="nav-link scrollto">MiadaT Hakkýnda</a></li>
                    <li><a href="~/Home/index/#Amaci" class="nav-link scrollto"> <span>MiadaT'ýn Amacý</span></a></li>
                    <li><a href="~/Home/index/#Mevzuat" class="nav-link scrollto"> <span>Mevzuat Geliþimi</span></a></li>
                    <li><a href="~/Home/index/#Paydaslar" class="nav-link scrollto"> <span>Paydaþlar</span></a></li>
                    <li><a href="~/Home/Analiz" class="nav-link"><span>Analiz</span></a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <main id="main">
        @RenderBody();
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container text-center">
            <div class="copyright text-center">
                Anýl ERDOÐAN
                <br />
                &copy; Tüm haklarý saklýdýr.
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/typed.js/typed.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>